* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #F08080;
  }
  header {
      color: rgb(91, 85, 85);
      display: flex;
  }

  .field {
    position: relative;
  }

  .field1 {
    flex-flow: row nowrap;
    display: flex;
    justify-content: center;
  }

  .box {
    background-color: rgb(91, 85, 85);
    max-width: 200px;
    min-width: 130px;
    max-height: 200px;
    min-height: 130px;
    border: 2px solid black;
  }
  .end {
    font-size: 50px;
    font-weight: bold;
    color: rgb(91, 85, 85);
    position: absolute;
    top: 25%;
    right: 25%;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .disappear {
    display: none;
   }

   .hide {
    opacity: 0.1;
   };

  .logo-place {
      padding-left: 10px;
      padding-top: 10px;
  }

  .goblin:hover {
    cursor: url('/src/images/hammer.png'), pointer;
    }
  
    .newGame {
      border-radius: 5%;
      font-weight: bold;
      width: 150px;
      height: 100px;
     font-size: 20px;
     background-color: rgb(245, 190, 190);
     color: rgb(91, 85, 85);
    }





